name: Python Security Checks

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.3'

      - name: Set up cache for pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          cd portfolai
          pip install -r requirements.txt
          pip install safety bandit pylint flake8
      - name: Run PyLint
        run: |
          cd portfolai
          python -m pylint core --output-format=text || true
      - name: Run Flake8
        run: |
          cd portfolai
          flake8 core --format=default || true
      - name: Run Bandit (Static Code Analysis)
        run: |
          cd portfolai
          bandit -r core -s MEDIUM --exit-zero